@using Client.Services
@using Client.Models

@inject IEntityService EntityService
@inject IConfiguration Configuration

@inherits CreateTicketFormCode

<h1>Ticket</h1>

<EditForm EditContext="@EditContext" class="row p-3" OnSubmit="@HandleSubmit">
    <div class="col-md-12 mb-3">
        <label for="Name">Title</label>
        <InputText id="Name" @bind-Value="createTicketDTO.Name" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="createTicketDTO.Description" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="project">Project</label>
        <br />
        @if(EntityService.ProjectsWithUsers is not null)
        {
        <InputSelect id="project" @bind-Value="createTicketDTO.Project">
            @if (!string.IsNullOrEmpty(CurrentProjectAssigned))
            {
                <option value="">@CurrentProjectAssigned</option>
            }
            @foreach (var value in EntityService.ProjectsWithUsers!)
            {
                <option value="@value.name">@value.name</option>
            }
        </InputSelect>
        } 
    </div>
    
    <div class="col-md-12 mb-3">
        <label for="userAssigned">Assign User:</label>
        <br />
        @if(EntityService.Users != null)
        {
        <InputSelect id="userAssigned" @bind-Value="createTicketDTO.UserAssigned">
        @if (!string.IsNullOrEmpty(CurrentUserAssigned))
        {
            <option value="">@CurrentUserAssigned</option>
        }
        @foreach (UserDTO user in EntityService.Users)
        {
            <option value="@user.username">@user.username.ToString()</option>
        }
        </InputSelect>
        } 
        else {
            <InputText id="UserAssigned" @bind-Value="createTicketDTO.UserAssigned"></InputText>
        }
    
    </div>
    
        <button type="submit" class="btn btn-primary btn-large">@ButtonText</button>
    <ValidationSummary />
</EditForm>
