@using Client.Services
@using Client.Models

@inject IEntityService EntityService
@inject IConfiguration Configuration

<PageTitle>Create a Ticket</PageTitle>

<h1>Ticket</h1>

<EditForm EditContext="@EditContext" class="row p-3" OnSubmit="@HandleSubmit">
    <div class="col-md-12 mb-3">
        <label for="Name">Title</label>
        <InputText id="Name" @bind-Value="ticketDTO.Name" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="Description">Description</label>
        <InputTextArea id="Description" @bind-Value="ticketDTO.Description" class="form-control" />
    </div>
    <div class="col-md-12 mb-3">
        <label for="project">Project</label>
        <br />
        @if(EntityService.ProjectsWithUsers is not null)
        {
        <InputSelect id="project" @bind-Value="ticketDTO.Project">
        @if (!string.IsNullOrEmpty(CurrentProjectAssigned))
        {
            <option value="">@CurrentProjectAssigned</option>
        }
        @foreach (var value in EntityService.ProjectsWithUsers!)
        {
            <option value="@value.name">@value.name</option>
        }
        </InputSelect>
    } 
       
    </div>
    <div class="col-md-12 mb-3">
        <label for="userAssigned">Assign User:</label>
        <br />
        @if(EntityService.Users != null)
        {
        <InputSelect id="userAssigned" @bind-Value="ticketDTO.UserAssigned">
        @if (!string.IsNullOrEmpty(CurrentUserAssigned))
        {
            <option value="">@CurrentUserAssigned</option>
        }
        @foreach (UserDTO user in EntityService.Users)
        {
            <option value="@user.username">@user.username.ToString()</option>
        }
        </InputSelect>
        } 
        else {
            <InputText id="UserAssigned" @bind-Value="ticketDTO.UserAssigned"></InputText>
        }
    
    </div>
    
        <button type="submit" class="btn btn-primary btn-large">@ButtonText</button>
    <ValidationSummary />
</EditForm>
@code {
    [Parameter]
    public string CurrentUserAssigned { get; set; } = string.Empty;
    [Parameter]
    public string CurrentProjectAssigned { get; set; } = string.Empty;

    [Parameter] 
    public string ButtonText { get; set; } = "Create Ticket";

    [Parameter]
    public string CurrentUserName { get; set; } = string.Empty;
    [Parameter]
    public string PassedTitle { get; set; } = string.Empty;
    [Parameter]
    public string PassedDescription { get; set; } = string.Empty;

    [Parameter]
    public string PassedUserCreated { get; set; } = string.Empty;


    private CreateTicketDTO ticketDTO = new CreateTicketDTO();
    private EditContext? EditContext;
    private string userAssigned = "";
    private string project = "";


    protected async override void OnInitialized()
    {
        ticketDTO.Name = PassedTitle;
        ticketDTO.Description = PassedDescription;
        // pass in the current user
        EditContext = new EditContext(ticketDTO);

        await EntityService.GetProjects();
        await EntityService.GetUsers();
        StateHasChanged();
    }

    private void HandleSubmit()
    {
            ticketDTO.UserCreated = CurrentUserName;
            if (ticketDTO.Project is null)
            {
                ticketDTO.Project = EntityService.ProjectsWithUsers[0].name;
            }

            if (ticketDTO.UserAssigned is null)
            {
                ticketDTO.UserAssigned = EntityService.Users[0].username;            }

            EntityService.CreateTicket(ticketDTO);

            ticketDTO.Name = string.Empty;
            ticketDTO.Description = string.Empty;
            ticketDTO.Project = string.Empty;
            ticketDTO.UserAssigned = string.Empty;
    }
}